<style>
  .shopify-block {
    display: contents;
  }

  .custom-icon-box {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-left:0px;
    padding-right:0px;
    align-items: center;
    gap: 35%;
  }
  .custom-icon-box:not(:last-child) {
    border-bottom: 1px solid #d1d0cc;
    padding-bottom: 48px;
  }
  .custom-icon-box-numbers {
    font-size: 14px;
    font-weight: 600;
    color: #888682;
  }
  .custom-icon-box-heading {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }
  .custom-icon-box-content {
    display: flex;
    gap: 20px;
  }
  .custom-icon-box-text {
    font-size: 16px;
    color: #888682;
  }
  .custom-icon-box-icon {
    min-width: 40px;
  }

  @media screen and (max-width:600px){
    .custom-icon-box-icon{
      display:none;
    }
      .custom-icon-box {
    padding: 20px 0;
  }
  }
</style>

<section style="width:100%">
  <div class="custom-icon-box">
    <div class="custom-icon-box-content">
      <p class="custom-icon-box-numbers">01</p>
      <div>
        <h4 class="custom-icon-box-heading">48 Hour Delivery</h4>
        <p class="custom-icon-box-text">
          Don't let empty shelves slow down your operations. Your parcel will be delivered straight to your door within
          48 hours of placing your order.
        </p>
      </div>
    </div>
    <div class="custom-icon-box-icon">
      <svg width="46" height="37" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.50056 8.66585V1.66655C7.50056 1.35716 7.37763 1.06045 7.15882 0.841675C6.94001 0.622904 6.64324 0.5 6.3338 0.5H1.66676C1.35732 0.5 1.06055 0.622904 0.841736 0.841675C0.622926 1.06045 0.5 1.35716 0.5 1.66655V8.08257C0.5 8.23727 0.561463 8.38563 0.670868 8.49501C0.780273 8.6044 0.928658 8.66585 1.08338 8.66585H2.25014M2.25014 8.66585C2.25014 9.31012 2.77252 9.8324 3.4169 9.8324C4.06128 9.8324 4.58366 9.31012 4.58366 8.66585M2.25014 8.66585C2.25014 8.02158 2.77252 7.4993 3.4169 7.4993C4.06128 7.4993 4.58366 8.02158 4.58366 8.66585M4.58366 8.66585H8.08394M8.08394 8.66585C8.08394 9.31012 8.60632 9.8324 9.2507 9.8324C9.89508 9.8324 10.4175 9.31012 10.4175 8.66585M8.08394 8.66585C8.08394 8.02158 8.60632 7.4993 9.2507 7.4993C9.89508 7.4993 10.4175 8.02158 10.4175 8.66585M10.4175 8.66585H11.5842C11.7389 8.66585 11.8873 8.6044 11.9967 8.49501C12.1061 8.38563 12.1676 8.23727 12.1676 8.08257V5.95362C12.1674 5.82125 12.1221 5.6929 12.0393 5.58966L10.0091 3.05241C9.95453 2.9841 9.88531 2.92892 9.80655 2.89096C9.72779 2.853 9.6415 2.83322 9.55406 2.8331H7.50056" stroke="black" stroke-linecap="round"/>
      </svg>
    </div>
  </div>

  <div class="custom-icon-box">
    <div class="custom-icon-box-content">
      <p class="custom-icon-box-numbers">02</p>
      <div>
        <h4 class="custom-icon-box-heading">Market-Competitive Prices</h4>
        <p class="custom-icon-box-text">
          Get top-tier quality without the premium price tag. We consistently optimize our pricing to offer you the most
          competitive rates in the market.
        </p>
      </div>
    </div>
    <div class="custom-icon-box-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black">
        <path d="M15.5 20H7v-2h1.5v-4H7v-2h1.5v-1.5A6.5 6.5 0 0 1 15 4c1.7 0 3.2.6 4.3 1.7l-1.4 1.4A4.4 4.4 0 0 0 15 6a4.5 4.5 0 0 0-4.5 4.5V12H15v2h-4.5v4H15.5a4.5 4.5 0 0 0 3.2-1.3l1.4 1.4A6.4 6.4 0 0 1 15.5 20z"/>
      </svg>
    </div>
  </div>

  <div class="custom-icon-box">
    <div class="custom-icon-box-content">
      <p class="custom-icon-box-numbers">03</p>
      <div>
        <h4 class="custom-icon-box-heading">Satisfaction Guaranteed</h4>
        <p class="custom-icon-box-text">
          If anything goes wrong with your parcel, we won’t argue. We’ll skip the debate and immediately dispatch a
          brand-new replacement to keep your business moving.
        </p>
      </div>
    </div>
    <div class="custom-icon-box-icon">
      <svg width="46" height="46" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.7168 5.83345C12.9832 7.14087 12.7934 8.50011 12.1789 9.6845C11.5644 10.8689 10.5625 11.8068 9.3402 12.3419C8.1179 12.877 6.7491 12.9768 5.46208 12.6248C4.17505 12.2728 3.0476 11.4903 2.26773 10.4076C1.48786 9.32496 1.10272 8.00767 1.17654 6.67542C1.25036 5.34318 1.77867 4.0765 2.67337 3.08663C3.56807 2.09676 4.77508 1.44353 6.09311 1.23588C7.41114 1.02823 8.76053 1.2787 9.91624 1.94553M5.2498 6.4165L6.9998 8.1665L12.8331 2.33317" stroke="black" stroke-linecap="round"/>
      </svg>
    </div>
  </div>

  <div class="custom-icon-box">
    <div class="custom-icon-box-content">
      <p class="custom-icon-box-numbers">04</p>
      <div>
        <h4 class="custom-icon-box-heading">Order on a Call, Whats App or Email</h4>
        <p class="custom-icon-box-text">
          Bypass the online checkout entirely. Simply call or send us a quick message, call or email and your order will
          be instantly confirmed and processed.
        </p>
      </div>
    </div>
    <div class="custom-icon-box-icon">
      <svg width="46" height="46" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.7874 9.03452C7.65877 9.06665 7.52304 9.05401 7.40255 8.99868C5.78217 8.20342 4.47088 6.89377 3.67359 5.27438C3.61454 5.15326 3.59924 5.01543 3.6303 4.88431C3.66135 4.75318 3.73684 4.63685 3.84393 4.55507L4.11696 4.35031C4.26186 4.24163 4.37948 4.1007 4.46048 3.93869C4.54149 3.77668 4.58366 3.59803 4.58366 3.4169V1.66676C4.58366 1.35732 4.46073 1.06055 4.24192 0.841736C4.02311 0.622926 3.72634 0.5 3.4169 0.5H1.66676C1.35732 0.5 1.06055 0.622926 0.841736 0.841736C0.622926 1.06055 0.5 1.35732 0.5 1.66676C0.5 4.45176 1.60634 7.12269 3.57563 9.09198C5.54491 11.0613 8.21584 12.1676 11.0008 12.1676C11.3103 12.1676 11.6071 12.0447 11.8259 11.8259C12.0447 11.6071 12.1676 11.3103 12.1676 11.0008V9.2507C12.1676 8.94126 12.0447 8.64449 11.8259 8.42568C11.6071 8.20687 11.3103 8.08394 11.0008 8.08394H9.2507C9.06957 8.08394 8.89092 8.12611 8.72891 8.20712C8.5669 8.28812 8.42597 8.40574 8.31729 8.55064L8.11019 8.82192C8.02988 8.92741 7.91603 9.00239 7.7874 9.03452Z" stroke="black" stroke-linecap="round"/>
      </svg>
    </div>
  </div>

  <div class="custom-icon-box">
    <div class="custom-icon-box-content">
      <p class="custom-icon-box-numbers">05</p>
      <div>
        <h4 class="custom-icon-box-heading">Top-Tier Materials</h4>
        <p class="custom-icon-box-text">
          We never cut corners on protection. Our packaging is manufactured using premium, industrial-grade materials
          built to withstand the journey.
        </p>
      </div>
    </div>
    <div class="custom-icon-box-icon">
      <svg width="41" height="50" viewBox="0 0 41 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.9581 48.0526C30.6637 44.6691 38.8296 38.8356 38.8296 27.1685V10.8347C38.8296 10.2158 38.5838 9.62231 38.1463 9.18472C37.7087 8.74712 37.1153 8.50128 36.4965 8.50128C31.8303 8.50128 26.0209 5.72452 21.938 2.1544C21.4437 1.73205 20.8149 1.5 20.1648 1.5C19.5147 1.5 18.8859 1.73205 18.3916 2.1544C14.332 5.70118 8.4993 8.50128 3.8331 8.50128C3.21432 8.50128 2.62089 8.74712 2.18335 9.18472C1.74581 9.62231 1.5 10.2158 1.5 10.8347V27.1685C1.5 38.8356 9.66585 44.6691 19.3949 48.0292C19.8977 48.2166 20.4498 48.2248 20.9581 48.0526Z" stroke="black" stroke-width="3" stroke-linecap="round"/>
      </svg>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Icon Section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Icon Section",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
