<style>
  .dual-color-text {
    text-transform: uppercase;
    font-weight: 700;
  }

  .dual-color-text span {
    color: #ff7a08;
  }
  @media screen and (max-width: 431px) {
  .dual-color-text {
    font-size: 30px;
  }
}
</style>

<h2 class="dual-color-text">Place your order on a <span>single call</span> or <span>whats app message.</span></h2>

{% schema %}
{
  "name": "Dual Color Text",
  "settings": [],
  "presets": [
    {
      "name": "Dual Color Text",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
