{% schema %}
{
  "name": "Size Guide",
  "settings": [
    {
      "type": "text",
      "id": "guide_heading",
      "label": "Heading",
      "default": "Size Guide"
    },
    {
      "type": "richtext",
      "id": "guide_text",
      "label": "Guide Description",
      "default": "<p>Add your size guide details here.</p>"
    },
    {
      "type": "url",
      "id": "guide_link",
      "label": "Link to Size Chart Page",
    }
  ]
}

{% endschema %}