<h2>{{ block.settings.my_text }}</h2>


{% schema %}
{
  "name": "My First Section",
  "settings": [
        {
          "type": "text",
          "id": "my_text",
          "label": "Enter Your Text",
          "default": "Hello World!"
        }
      ],
  "presets": [
    {
      "name": "Programming Example"
    }
  ]
}
{% endschema %}



