
<div id="variantAdditionalInfoWrapper-{{ section.id }}">
  {%- assign init_variant = product.selected_or_first_available_variant -%}
  <div id="variantAdditionalInfo-{{ section.id }}">
    {{ init_variant.metafields.custom.unit_include}} * customquantityInput.value 
  </div>
</div>


<script>

  console.log("hi");

  document.addEventListener("DOMContentLoaded", () => {
    const quantitySelector = document.querySelector(".quantity-selector");
    const customquantityInput = quantitySelector.querySelector("input[name='quantity']");
    const minusBtn = quantitySelector.querySelector("button[name='minus']");
    const plusBtn = quantitySelector.querySelector("button[name='plus']");

    function getQuantityValue() {
      console.log("Quantity:", customquantityInput.value);
      // You can also update something dynamically here
    }

    // Listen for input changes (typing)
    customquantityInput.addEventListener("input", getQuantityValue);

    // Listen for button clicks (plus / minus)
    minusBtn.addEventListener("click", () => {
      getQuantityValue();
    });

    plusBtn.addEventListener("click", () => {
      getQuantityValue();
    });
  });
</script>



{% schema %}
{
  "name": "Unit Include",
  "settings": [],
  "presets": [
    {
      "category": "Custom Block",
      "name": "Unit Include"
    }
  ]
}
{% endschema %}


