
<div id="variantAdditionalInfoWrapper-{{ section.id }}">
  {%- assign init_variant = product.selected_or_first_available_variant -%}
  <div id="variantAdditionalInfo-{{ section.id }}">
    {{ init_variant.metafields.custom.unit_include }}
  </div>
</div>


{% schema %}
{
  "name": "Unit Include",
  "settings": [],
  "presets": [
    {
      "category": "Custom Block",
      "name": "Unit Include"
    }
  ]
}
{% endschema %}
