<div class="page-width page-width--narrow">
    <div>
        <h1 class="main-page-title page-title h0">{{ page.title | escape }}</h1>
    </div>
    <div class="rte">
    {{ page.content }}
    </div>
</div>